USE [comp400_2012]
GO
/****** Object:  Table [dbo].[vendor]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vendor](
	[vendorID] [int] IDENTITY(1000,1) NOT NULL,
	[vendorName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_vendor] PRIMARY KEY CLUSTERED 
(
	[vendorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[vendor] ON
INSERT [dbo].[vendor] ([vendorID], [vendorName]) VALUES (1000, N'Bridgestone')
SET IDENTITY_INSERT [dbo].[vendor] OFF
/****** Object:  Table [dbo].[tire]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tire](
	[tireCode] [varchar](4) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[manufacturer] [varchar](30) NOT NULL,
	[manufacturerSize] [varchar](20) NOT NULL,
	[retailPrice] [decimal](6, 2) NOT NULL,
	[dealerPrice] [decimal](6, 2) NOT NULL,
	[wholesaleCost] [decimal](6, 2) NOT NULL,
 CONSTRAINT [pkTire] PRIMARY KEY CLUSTERED 
(
	[tireCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tire] ([tireCode], [description], [manufacturer], [manufacturerSize], [retailPrice], [dealerPrice], [wholesaleCost]) VALUES (N'87T', N'Premier Touring', N'BF Goodrich', N'185/70R14', CAST(73.00 AS Decimal(6, 2)), CAST(59.21 AS Decimal(6, 2)), CAST(48.75 AS Decimal(6, 2)))
INSERT [dbo].[tire] ([tireCode], [description], [manufacturer], [manufacturerSize], [retailPrice], [dealerPrice], [wholesaleCost]) VALUES (N'A123', N'All Weather Radials', N'Cooper Tires', N'R215', CAST(104.95 AS Decimal(6, 2)), CAST(99.95 AS Decimal(6, 2)), CAST(85.45 AS Decimal(6, 2)))
INSERT [dbo].[tire] ([tireCode], [description], [manufacturer], [manufacturerSize], [retailPrice], [dealerPrice], [wholesaleCost]) VALUES (N'A231', N'Summer Tire', N'Kumho', N'45R17', CAST(145.70 AS Decimal(6, 2)), CAST(124.23 AS Decimal(6, 2)), CAST(104.00 AS Decimal(6, 2)))
/****** Object:  Table [dbo].[store]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[store](
	[storeNbr] [varchar](5) NOT NULL,
	[streetAddress] [varchar](50) NOT NULL,
	[city] [varchar](30) NOT NULL,
	[state] [varchar](30) NOT NULL,
	[zip] [varchar](10) NOT NULL,
	[phone] [varchar](16) NOT NULL,
	[fax] [varchar](16) NOT NULL,
	[email] [varchar](50) NOT NULL,
 CONSTRAINT [pkStore] PRIMARY KEY CLUSTERED 
(
	[storeNbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[store] ([storeNbr], [streetAddress], [city], [state], [zip], [phone], [fax], [email]) VALUES (N'0001', N'987 SE Hall St', N'Portland', N'OR', N'97222', N'503-746-8175', N'503-746-8760', N'store0001@store.com')
INSERT [dbo].[store] ([storeNbr], [streetAddress], [city], [state], [zip], [phone], [fax], [email]) VALUES (N'0002', N'736 SW Elk Lane 2', N'Gresham', N'OR', N'97220', N'503-564-1237', N'503-564-1238', N'store0002@store.com')
INSERT [dbo].[store] ([storeNbr], [streetAddress], [city], [state], [zip], [phone], [fax], [email]) VALUES (N'0003', N'Happy Hooker Lane', N'Happy Valley', N'OR', N'88888', N'222-255-5522', N'222-222-2222', N'store0003@store.com')
/****** Object:  Table [dbo].[securityClearance]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[securityClearance](
	[Clearance] [varchar](15) NOT NULL,
 CONSTRAINT [PK_securityClearance] PRIMARY KEY CLUSTERED 
(
	[Clearance] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[securityClearance] ([Clearance]) VALUES (N'Admin')
INSERT [dbo].[securityClearance] ([Clearance]) VALUES (N'Manager')
INSERT [dbo].[securityClearance] ([Clearance]) VALUES (N'Sales')
/****** Object:  Table [dbo].[dealer]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dealer](
	[dealerId] [int] IDENTITY(7000,1) NOT NULL,
	[dealerName] [varchar](30) NOT NULL,
	[dealerStreet] [varchar](30) NOT NULL,
	[dealerCity] [varchar](30) NOT NULL,
	[dealerState] [varchar](30) NOT NULL,
	[dealerZip] [varchar](10) NOT NULL,
	[dealerPhone] [varchar](16) NOT NULL,
 CONSTRAINT [pkDealer] PRIMARY KEY CLUSTERED 
(
	[dealerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[dealer] ON
INSERT [dbo].[dealer] ([dealerId], [dealerName], [dealerStreet], [dealerCity], [dealerState], [dealerZip], [dealerPhone]) VALUES (7000, N'Joe''s Shell', N'1234 Main St', N'Detroit', N'OR', N'97456', N'503-645-3456')
SET IDENTITY_INSERT [dbo].[dealer] OFF
/****** Object:  Table [dbo].[customer]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customer](
	[customerID] [int] IDENTITY(4000,1) NOT NULL,
	[custFirstName] [varchar](30) NOT NULL,
	[custLastName] [varchar](30) NOT NULL,
	[custStreet] [varchar](30) NOT NULL,
	[custCity] [varchar](30) NOT NULL,
	[custState] [varchar](30) NOT NULL,
	[custZip] [varchar](10) NOT NULL,
	[custPhone] [varchar](16) NOT NULL,
 CONSTRAINT [pkCustomer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON
INSERT [dbo].[customer] ([customerID], [custFirstName], [custLastName], [custStreet], [custCity], [custState], [custZip], [custPhone]) VALUES (4000, N'Ken', N'Adams', N'7356 Sampson Dr', N'Portland', N'OR', N'97026', N'503-563-7356')
INSERT [dbo].[customer] ([customerID], [custFirstName], [custLastName], [custStreet], [custCity], [custState], [custZip], [custPhone]) VALUES (4001, N'Joel', N'Smith', N'4332 NW Dickey Rd', N'McMinnville', N'OR', N'97128', N'503-474-2747')
INSERT [dbo].[customer] ([customerID], [custFirstName], [custLastName], [custStreet], [custCity], [custState], [custZip], [custPhone]) VALUES (4002, N'Jennifer', N'Sampson', N'4217 N Umbridge Blvd', N'Dallas', N'WA', N'97127', N'360-441-7411')
SET IDENTITY_INSERT [dbo].[customer] OFF
/****** Object:  Table [dbo].[wholesaleOrder]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[wholesaleOrder](
	[whlslOrderNbr] [int] IDENTITY(1000,1) NOT NULL,
	[dealerID] [int] NOT NULL,
	[salesDate] [date] NOT NULL,
	[tireCode] [varchar](4) NOT NULL,
	[tireQty] [int] NULL,
	[whlslOrderTotal] [decimal](7, 2) NULL,
	[isClosed] [bit] NULL,
	[comments] [varchar](max) NULL,
 CONSTRAINT [PK_wholesaleOrder] PRIMARY KEY CLUSTERED 
(
	[whlslOrderNbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[wholesaleOrder] ON
INSERT [dbo].[wholesaleOrder] ([whlslOrderNbr], [dealerID], [salesDate], [tireCode], [tireQty], [whlslOrderTotal], [isClosed], [comments]) VALUES (1002, 7000, CAST(0xEA350B00 AS Date), N'J475', 15, CAST(1949.85 AS Decimal(7, 2)), NULL, NULL)
INSERT [dbo].[wholesaleOrder] ([whlslOrderNbr], [dealerID], [salesDate], [tireCode], [tireQty], [whlslOrderTotal], [isClosed], [comments]) VALUES (1003, 7000, CAST(0x09360B00 AS Date), N'A123', 2, CAST(199.90 AS Decimal(7, 2)), 0, N'Still waiting...')
SET IDENTITY_INSERT [dbo].[wholesaleOrder] OFF
/****** Object:  Table [dbo].[purchaseOrder]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[purchaseOrder](
	[poNbr] [int] IDENTITY(3000,1) NOT NULL,
	[vendorID] [int] NOT NULL,
	[poDate] [date] NOT NULL,
	[tireCode] [varchar](4) NULL,
	[tireQty] [int] NULL,
	[poTotal] [decimal](7, 2) NULL,
	[isClosed] [bit] NULL,
	[comments] [varchar](max) NULL,
 CONSTRAINT [pkPurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[poNbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[purchaseOrder] ON
INSERT [dbo].[purchaseOrder] ([poNbr], [vendorID], [poDate], [tireCode], [tireQty], [poTotal], [isClosed], [comments]) VALUES (3000, 1000, CAST(0xEA350B00 AS Date), N'A123', 4, CAST(399.80 AS Decimal(7, 2)), 0, N'Waiting for 2 more tires')
INSERT [dbo].[purchaseOrder] ([poNbr], [vendorID], [poDate], [tireCode], [tireQty], [poTotal], [isClosed], [comments]) VALUES (3001, 1000, CAST(0x01360B00 AS Date), N'D423', 2, CAST(310.00 AS Decimal(7, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[purchaseOrder] OFF
/****** Object:  Table [dbo].[inventory]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inventory](
	[inventoryNbr] [int] IDENTITY(10000,1) NOT NULL,
	[tireCode] [varchar](4) NOT NULL,
	[storeNbr] [varchar](5) NOT NULL,
	[tireQty] [decimal](4, 0) NOT NULL,
 CONSTRAINT [pkInvID] PRIMARY KEY CLUSTERED 
(
	[inventoryNbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[inventory] ON
INSERT [dbo].[inventory] ([inventoryNbr], [tireCode], [storeNbr], [tireQty]) VALUES (10000, N'A123', N'0001', CAST(8 AS Decimal(4, 0)))
INSERT [dbo].[inventory] ([inventoryNbr], [tireCode], [storeNbr], [tireQty]) VALUES (10002, N'B378', N'0002', CAST(8 AS Decimal(4, 0)))
INSERT [dbo].[inventory] ([inventoryNbr], [tireCode], [storeNbr], [tireQty]) VALUES (10003, N'J475', N'0005', CAST(8 AS Decimal(4, 0)))
SET IDENTITY_INSERT [dbo].[inventory] OFF
/****** Object:  Table [dbo].[employee]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee](
	[employeeID] [int] IDENTITY(9000,1) NOT NULL,
	[firstName] [varchar](30) NOT NULL,
	[lastName] [varchar](30) NOT NULL,
	[userID] [varchar](15) NOT NULL,
	[password] [varchar](10) NOT NULL,
	[storeNbr] [varchar](5) NOT NULL,
	[userSecurityLevel] [varchar](15) NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[employee] ON
INSERT [dbo].[employee] ([employeeID], [firstName], [lastName], [userID], [password], [storeNbr], [userSecurityLevel]) VALUES (9000, N'Stanley', N'Harris', N'sharris', N'sh1234', N'0001', N'Temp')
INSERT [dbo].[employee] ([employeeID], [firstName], [lastName], [userID], [password], [storeNbr], [userSecurityLevel]) VALUES (9001, N'Susan', N'Barnes', N'abarnes', N'sb1234', N'0002', N'Sales')
INSERT [dbo].[employee] ([employeeID], [firstName], [lastName], [userID], [password], [storeNbr], [userSecurityLevel]) VALUES (9002, N'Howard', N'Newton', N'hnewton', N'hn1234', N'0001', N'Manager')
SET IDENTITY_INSERT [dbo].[employee] OFF
/****** Object:  Table [dbo].[retailOrder]    Script Date: 08/18/2012 13:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[retailOrder](
	[retailOrderNbr] [int] IDENTITY(5000,1) NOT NULL,
	[customerID] [int] NOT NULL,
	[storeNbr] [varchar](5) NOT NULL,
	[employeeID] [int] NOT NULL,
	[salesDate] [date] NOT NULL,
	[tireCode] [varchar](4) NULL,
	[tireQty] [int] NULL,
	[retailOrderTotal] [decimal](7, 2) NULL,
 CONSTRAINT [pkRetailOrder] PRIMARY KEY CLUSTERED 
(
	[retailOrderNbr] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[retailOrder] ON
INSERT [dbo].[retailOrder] ([retailOrderNbr], [customerID], [storeNbr], [employeeID], [salesDate], [tireCode], [tireQty], [retailOrderTotal]) VALUES (5000, 4000, N'0001', 9001, CAST(0x05360B00 AS Date), N'A123', 2, CAST(209.90 AS Decimal(7, 2)))
INSERT [dbo].[retailOrder] ([retailOrderNbr], [customerID], [storeNbr], [employeeID], [salesDate], [tireCode], [tireQty], [retailOrderTotal]) VALUES (5001, 4001, N'0002', 9002, CAST(0x05360B00 AS Date), N'A123', 4, CAST(419.90 AS Decimal(7, 2)))
INSERT [dbo].[retailOrder] ([retailOrderNbr], [customerID], [storeNbr], [employeeID], [salesDate], [tireCode], [tireQty], [retailOrderTotal]) VALUES (5002, 4000, N'0001', 9001, CAST(0x06360B00 AS Date), N'F453', 4, CAST(800.00 AS Decimal(7, 2)))
SET IDENTITY_INSERT [dbo].[retailOrder] OFF
/****** Object:  Default [DF_tire_retailPrice]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[tire] ADD  CONSTRAINT [DF_tire_retailPrice]  DEFAULT ((0)) FOR [retailPrice]
GO
/****** Object:  Default [DF_tire_dealerPrice]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[tire] ADD  CONSTRAINT [DF_tire_dealerPrice]  DEFAULT ((0)) FOR [dealerPrice]
GO
/****** Object:  Default [DF_tire_wholesaleCost]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[tire] ADD  CONSTRAINT [DF_tire_wholesaleCost]  DEFAULT ((0)) FOR [wholesaleCost]
GO
/****** Object:  ForeignKey [fkEmpSecurity]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [fkEmpSecurity] FOREIGN KEY([userSecurityLevel])
REFERENCES [dbo].[securityClearance] ([Clearance])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [fkEmpSecurity]
GO
/****** Object:  ForeignKey [fkEmpStore]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[employee]  WITH CHECK ADD  CONSTRAINT [fkEmpStore] FOREIGN KEY([storeNbr])
REFERENCES [dbo].[store] ([storeNbr])
GO
ALTER TABLE [dbo].[employee] CHECK CONSTRAINT [fkEmpStore]
GO
/****** Object:  ForeignKey [fkStoreInv]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [fkStoreInv] FOREIGN KEY([storeNbr])
REFERENCES [dbo].[store] ([storeNbr])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [fkStoreInv]
GO
/****** Object:  ForeignKey [fkTireInv]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[inventory]  WITH CHECK ADD  CONSTRAINT [fkTireInv] FOREIGN KEY([tireCode])
REFERENCES [dbo].[tire] ([tireCode])
GO
ALTER TABLE [dbo].[inventory] CHECK CONSTRAINT [fkTireInv]
GO
/****** Object:  ForeignKey [fkPoTireCode]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[purchaseOrder]  WITH CHECK ADD  CONSTRAINT [fkPoTireCode] FOREIGN KEY([tireCode])
REFERENCES [dbo].[tire] ([tireCode])
GO
ALTER TABLE [dbo].[purchaseOrder] CHECK CONSTRAINT [fkPoTireCode]
GO
/****** Object:  ForeignKey [fkPoVendor]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[purchaseOrder]  WITH CHECK ADD  CONSTRAINT [fkPoVendor] FOREIGN KEY([vendorID])
REFERENCES [dbo].[vendor] ([vendorID])
GO
ALTER TABLE [dbo].[purchaseOrder] CHECK CONSTRAINT [fkPoVendor]
GO
/****** Object:  ForeignKey [fkRtlOrderCust]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[retailOrder]  WITH CHECK ADD  CONSTRAINT [fkRtlOrderCust] FOREIGN KEY([customerID])
REFERENCES [dbo].[customer] ([customerID])
GO
ALTER TABLE [dbo].[retailOrder] CHECK CONSTRAINT [fkRtlOrderCust]
GO
/****** Object:  ForeignKey [fkRtlOrderEmp]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[retailOrder]  WITH CHECK ADD  CONSTRAINT [fkRtlOrderEmp] FOREIGN KEY([employeeID])
REFERENCES [dbo].[employee] ([employeeID])
GO
ALTER TABLE [dbo].[retailOrder] CHECK CONSTRAINT [fkRtlOrderEmp]
GO
/****** Object:  ForeignKey [fkRtlOrderStore]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[retailOrder]  WITH CHECK ADD  CONSTRAINT [fkRtlOrderStore] FOREIGN KEY([storeNbr])
REFERENCES [dbo].[store] ([storeNbr])
GO
ALTER TABLE [dbo].[retailOrder] CHECK CONSTRAINT [fkRtlOrderStore]
GO
/****** Object:  ForeignKey [FK_wholesaleOrder_dealer]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[wholesaleOrder]  WITH CHECK ADD  CONSTRAINT [FK_wholesaleOrder_dealer] FOREIGN KEY([dealerID])
REFERENCES [dbo].[dealer] ([dealerId])
GO
ALTER TABLE [dbo].[wholesaleOrder] CHECK CONSTRAINT [FK_wholesaleOrder_dealer]
GO
/****** Object:  ForeignKey [FK_wholesaleOrder_tire]    Script Date: 08/18/2012 13:49:51 ******/
ALTER TABLE [dbo].[wholesaleOrder]  WITH CHECK ADD  CONSTRAINT [FK_wholesaleOrder_tire] FOREIGN KEY([tireCode])
REFERENCES [dbo].[tire] ([tireCode])
GO
ALTER TABLE [dbo].[wholesaleOrder] CHECK CONSTRAINT [FK_wholesaleOrder_tire]
GO
